*{
	margin: 0;
	padding: 0;
}
.kuro{
	background-image: url(https://media.istockphoto.com/id/1311934969/photo/contact-us.jpg?s=612x612&w=0&k=20&c=_vmYyAX0aFi-sHH8eYS-tLLNfs1ZWXnNB8M7_KWwhgg=);
	width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}
.head{
	margin: auto;
	width: 85%;
	height: 100vh;
	align-items: left;
	background-color: rgba(0, 0, 0, 0.6);
	position: relative;
}
.logo{
	font-size: 50px;
	color: #ccffff;
	position: relative;
	left: 15px;
	top: 60px;
}
a{
	text-decoration: none;
}
a:visited{
	color: #ccffff;
}
a:active{
	color: #ccffff;
}
a:hover{
	color: #ccffff;
}
.sidebar1{
	width: 50px;
	height: 100vh;
	position: absolute;
    left: 0;
	top: 0;
	background: rgba(0,0,0,0.6);
}
.text-1{
	width: 25px;
	margin: 5px auto;
	cursor: pointer;
}
.text1{
	color: #ccffff;
	cursor: pointer;
}
.text-1{
	width: 50px;
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.sidebar2{
	width: 50px;
	height: 100vh;
	position: absolute;
    right: 0;
	top: 0;
	background: rgba(0,0,0,0.6);
}
.text-2{
	width: 25px;
	margin: 5px auto;
	cursor: pointer;
}
.text2{
	color: #ccffff;
	cursor: pointer;
}
.text-2{
	width: 50px;
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.cont-txt{
	color: #ccffff;
	position: relative;
	top: 80px;
	text-align: center;
}
.links{
	position: relative;
	top: 100px;
	text-align: center;
	margin-bottom: 10px;
	color: #ccffff;
}
.sm{
	width: 25px;
	margin: 5px auto;
	display: inline-block;
}
.csm{
	color: #ccffff;
	position: relative;
	left: 20px;
	bottom: 10px;
	display: inline-block;
}
.fh{
	position: relative;
	top: 30px;
	text-align: center;
	color: #ccffff;
}
.feedback-form{
	color: #ccffff;
	position: relative;
	top: 30px;
	text-align: center;
	align-items: center;
}
.cont-info{
	position: relative;
	top: 60px;
}