/* Universal Selecter for setting up background image */
*{
	margin: 0; 
	padding: 0;
}
.b{
	background-image: url(./images/h-bg.jpeg);
	width: 100%;
	height: 100vh;
	margin: auto;
	position: absolute;
	background-size: cover;
}
.roro{
	width: 85%;
	height: 100vh;
	color: #ccffff;
	background-color: rgba(0, 0, 0, 0.6);
	background-position: center;
	transform: translate(8.85%);
	position: relative;
	overflow-y: scroll;
	
}
.roro::-webkit-scrollbar {
	display: none;
}
.head{
	display: flex;
	position: relative;
	margin-bottom: 180px;
}
.logo{
	color: #ccffff;
	transform: translateY(50%);
	font-size: 50px;
	cursor: pointer;
	position: relative;
	left: 100px;
	top: 10px;
}
.cont{
	transform: translateX(106.5vh);
	position: relative;
	top: 50px;
	left: 90px;
}
button{
	color: #fbfcfd;
	padding: 10px 25px;
	background: transparent;
	border: 2px solid #fff;
	border-radius: 20px;
	outline: none;
	cursor: pointer;
}
button:hover{
	color: cyan;
	background-color: black;
}
a{
	text-decoration: none;
}
a:hover:active:visited{
	color: #ccffff;
}
.sidebar1{
	width: 50px;
	height: 100vh;
	position: absolute;
    left: 0;
	top: 0;
	background: rgba(0,0,0,0.6);
}
.links1 img{
	width: 25px;
	margin: 5px auto;
	cursor: pointer;
}
.follow1{
	color: #ccffff;
	cursor: pointer;
}
.links1{
	width: 50px;
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.sidebar2{
	width: 50px;
	height: 100vh;
	position: absolute;
    right: 0;
	top: 0;
	background: rgba(0,0,0,0.6);
}
.links2 img{
	width: 25px;
	margin: 5px auto;
	cursor: pointer;
}
.follow2{
	color: #ccffff;
	cursor: pointer;
}
.links2{
	width: 50px;
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.card {
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: thin solid gray;
    border-radius: 4px;
}
.welcome{
	color: #ccffff;
	text-align: center;
	font-size: 65px;
	
}
.context{
	color: white;
	margin-top: 50px;
	margin-left: 172px;
	margin-right: 172px;
	margin-bottom: 50px;
	font-size: 29.5px;
}
.scdc:hover{
	color: blue;
}
.scdc{
	color: white;
}
mark{
	background-color: rgba(28, 191, 255, 0.7);
}
