/* In CSS, Asterisk(*) is a universal selecter */
/* Here I used Universal Selector for background image */
* {
	margin: 0;
	padding: 0;
}

/* For main content display <div> along with saperate formatting for logo <h1> and contact <button> element */
.rero {
	width: 100%;
	height: 100vh;
	background-image: url(./images/background.jpeg	);
	background-size: cover;
	background-position: center;
	position: relative;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.1);
}

.logo {
	font-size: 50px;
	cursor: pointer;
	color: #ccffff;
	position: relative;
	left: 10px;
}

.cont {
	position: relative;
	right: 10px;
}

/* fully edited text and image <a> (anchor) elements */
a {
	text-decoration: none;
}

a:visited {
	color: #ccffff;
}

a:active {
	color: #ccffff;
}

a:hover {
	color: #ccffff;
}

/* For logo <img> and head <h1> element */
.head {
	margin: auto;
	width: 100%;
	height: 60px;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* For all the buttons available along with the color property after hovering the button */
button {
	color: #fbfcfd;
	padding: 10px 25px;
	background: transparent;
	border: 2px solid #fff;
	border-radius: 20px;
	outline: none;
	cursor: pointer;
}

button:hover {
	background-color: black;
	color: cyan;
}

/* For main content of the web page along with saperate formatting for <h1> and <small> element text */
.content {
	color: #fbfcfd;
	position: absolute;
	top: 65%;
	left: 60%;
	transform: translateY(-50%);
	z-index: 2;

}

.txt {
	font-size: 80px;
	margin: 10px o 30px;
	line-height: 80px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #ccffff;
}

small {
	font-size: 30px;

}

/* For content of sidebar along with saperate formatting for follow <h1> elements as well as .smlinks class of <div> element and <ima> element */
.sidebar {
	width: 50px;
	height: 93%;
	position: absolute;
	right: 0;
	top: 60px;
	background: rgba(0, 0, 0, 0.3);
}

.follow {
	color: #ccffff;
	cursor: pointer;
}

.smlinks img {
	width: 25px;
	margin: 5px auto;
	cursor: pointer;
}

.smlinks {
	width: 50px;
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

/* For ending <footer> element (not currectly written yet) */
.end {
	font-size: 20px;
	color: #ccffff;
	text-align: center;
	transform: translateY(-100%);
}

@media only screen and (max-width: 1072px){
	.content {
		width: 20%;
		position: relative;
		left: 75px;
	}

	.head{
		width: 100%;
	}
}

@media only screen and (mix-width: 720px){

	/* Medium screen styles */
	.content {
		width: 60%;
	}
	small{
		font-size: 20px;
	}
	.txt{
		font-size: 60px;
	}
}

@media only screen and (min-width: 1025px) {

	/* Wide screen styles */
	.content {
		width: 40%;
	}

}
@media only screen and (min-width: 1072px) and (max-width: 1080px){
	.content{
		width: 20%;
		position: relative;
		right: -50px;
	}
}

@media only screen and (max-width: 438px){
	.content{
		width: 80%;
	}
	small{
		font-size: 18px;
	}
	.txt{
		font-size: 50px;
	}
	.logo{
		font-size: 30px;
	}
}